<h1 style="color: darkblue;">Welcome To Blog Application</h>
<h3 style="color: orangered;">Publish your passions, your way </h3>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to'sign up',new_user_registration_path %>
<%= link_to'Create Your Own Blog',controller: 'articles' %>
